
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');

:root{
    font-size: 62.5%;
    --bg: #F9F4FB;
    --title: #B52184;
    --text: #312D64;
    --linear-s: #343193;
    --linear-e: #302C63;
    --bg-card: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
}

main{
    background-color: var(--bg);
}

section{
    padding: 2.5rem;
}

h1{
    font-size: 3rem;
    color: var(--title);
    font-weight: 900;
}

h2{
    font-size: 2.5rem;;
    color: var(--title);
}

p{
    color: var(--text);
}

.explore{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explore h1{
    margin-top: 1rem;;
}

.explore p{
    margin-bottom: 2.5rem;
}

.explore img:last-child{
    width: 3.5rem;
}

.cards-list{
    background: linear-gradient(to right, var(--linear-s), var(--linear-e));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

.cards-list p{
    font-size: 1.5rem;
}

.card{
    background-color: var(--bg-card);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 640px;
    gap: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

